In [1]:
import pandas as pd

In [2]:
#reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Adding a new column

In [3]:
#Adding a new column

df_exams['languaje score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,languaje score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

# Adding a new column with an array (numpy)

In [4]:
# Import numpy
import numpy as np

In [7]:
# Create an array of 1000 elements

languaje_score = np.arange(0, 1000)

In [8]:
# len of the array
len(languaje_score)

1000

In [11]:
# Adding a new column to dataframe with array
df_exams['languaje score'] = languaje_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,languaje score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [15]:
# create random integers between 1 and 100
int_languaje_score = np.random.randint(1, 100, size = 1000)

In [17]:
# min value inclusive and high value exclusive

min(int_languaje_score)
max(int_languaje_score)

99

In [18]:
df_exams['languaje score'] = int_languaje_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,languaje score
0,female,group B,bachelor's degree,standard,none,72,72,74,82
1,female,group C,some college,standard,completed,69,90,88,73
2,female,group B,master's degree,standard,none,90,95,93,96
3,male,group A,associate's degree,free/reduced,none,47,57,44,99
4,male,group C,some college,standard,none,76,78,75,50
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,40
996,male,group C,high school,free/reduced,none,62,55,55,35
997,female,group C,high school,free/reduced,completed,59,71,65,92
998,female,group D,some college,standard,completed,68,78,77,38
999,female,group D,some college,free/reduced,none,77,86,86,47

In [20]:
#Create a random float numbers between 1 to 100
np.random.uniform(1, 100, size = 100)

array([92.03900358, 72.18923956, 81.80121348, 27.91000307, 37.61524386,
       81.51799052, 66.16516313, 77.95455994, 53.70943319, 19.04567763,
       80.83645671, 36.37007401, 92.87619761, 28.20038818, 66.51395283,
       60.29212442, 54.00872752, 95.08801139, 93.54698587, 95.94915146,
       26.2903384 , 34.79276623, 19.46768095, 24.55126007, 25.39007398,
       86.0431279 , 10.96124605, 16.88195671, 13.66487951, 22.88793899,
       41.80874711, 74.76769472, 55.97392025, 35.59084171, 90.56012028,
       27.50618706, 72.23708113, 62.62134283, 55.02627438, 33.10717573,
       22.81978011, 28.17707967, 50.71005355, 41.27594665,  4.56874529,
       70.77200538, 63.9099651 , 48.45194277, 50.55444288, 54.94790165,
       34.73600637, 52.31934507, 67.95926774, 18.20702127, 79.03585909,
       73.94852303, 43.46305053, 63.38715258, 10.24077924, 90.52660138,
       36.61643532, 79.65638661, 78.16904208, 56.73246697, 75.80406714,
       93.83946489, 84.34734907, 94.41846919,  3.19694695, 73.86453796,
        4.78103613, 85.22504865, 99.53413574, 15.70378134, 65.17995719,
        5.65265626, 30.71568401, 72.62780791, 27.36972794, 90.28215463,
       52.17664241, 14.37332085, 70.3047039 , 95.08402749,  1.11915921,
       49.8930722 , 64.90099994, 43.54847266, 20.21755728, 48.99556001,
       83.15567216, 37.5975215 , 26.02738942, 27.44279217, 59.02852412,
       70.73277806, 28.06674653, 63.79413601, 42.31068604, 31.55605341])