In [1]:
import pandas as pd

In [2]:
#reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Selecting the column

In [3]:
# Select the column with [] (prefered way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [5]:
#Check the data type of the column
type(df_exams['gender'])

pandas.core.series.Series

In [7]:
#Series: Attributes and methods
df_exams['gender'].index
df_exams['gender'].head

<bound method NDFrame.head of 0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object>

## Sintax 2

In [8]:
# Select a column with .

df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [9]:
#Select a column with . (pitfalls)
df_exams.math score

SyntaxError: invalid syntax (Temp/ipykernel_19452/2084640394.py, line 2)

In [11]:
# Select the same column using []

df_exams['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64